
p{
    font-size: 20px;
}
.btn {
    margin-top: 15px;
    margin-bottom: 15px;

}

.btn-block{
    margin-top: 15px;
    margin-bottom: 15px;

}

h1 {
    font-family: Garamond;
    
}

h2 {
    
    font-family: Garamond;
    font-weight: bold;

}

p {
    font-family: Garamond;
    font-size: 20px;
}